<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>monitor</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='assets/css/bootstrap.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='assets/css/animate.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='style.css' type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%2C800%7CMontserrat%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%7CDosis%3A400%2C700&#038;ver=4.5' type='text/css' media='all'/>
<link rel='stylesheet' href='icons/elegantline/style.css' type='text/css' media='all'/>
<link rel='stylesheet' href='assets/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='assets/css/flexslider.css' type='text/css' media='all'/>
</head>
<body class="frontpage">
<div class="page-loader">
	<img src="assets/img/loader.gif" alt="loader">
</div>

<!-- Header
================================================== -->
<header id="header">
<div id="mega-menu" class="header header2 header-sticky primary-menu icons-no default-skin zoomIn align-right">
	<nav class="navbar navbar-default redq">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">
			<img src="assets/images/mon.jpg" alt="logo">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<a class="mobile-menu-close"><i class="fa fa-close"></i></a>
			
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
	</nav>
</div>
</header>	

<!-- INTRO
================================================== -->
<section id="home" style="padding:160px 0;background-image: url('assets/images/slide-01.jpg'); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
	<div class="container">
		<div class="textwidget">
			<h1 class="toptitle">MONITOR<br/> THE BEST TECHNOLOGY SUPPORT YOU CAN GET <br/><br/><i class="fa fa-star roundicon"></i>
			</h1>								
			<div class="contactstyle topform">										
				<form method="post" action="contact/topcontact.php" id="topcontactform">
					<div class="form">
						<input type="text" Username="name" placeholder="Username *">
						<input type="text" Password="email" placeholder="Password *">
						
						<input type="submit" id="submit"  class="clearfix btn" value="Login">
					</div>
				</form>
				<div class="done">
					<div class="alert alert-success">
						<form action="../components/account/account.component.html">
							<button id="myButton" type="button" onclick="" class="close" routerLink="/account" data-dismiss="alert">×</button>
							Logged in. Thank you!
						</form>
						<script type="text/javascript">
							document.getElementById("myButton").onclick = function () {
								location.href = "../components/account/account.component.html";
							};
						</script>
					</div>
				</div>
			</div>								
		</div>
		</div>
</section>

<!-- ABOUT
================================================== -->
<section id="about" class="whitetext" style="padding:60px;background-color:#50dcc9;" >
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-12">
				<div class="left-text-content">
					<div class="section-heading">
						<h6>About Us</h6>
						<h2>This is a sensor monitoring system.</h2>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="service-item">
								<img src="assets/images/service-item-01.png" alt="">
								<h4>Risk Management</h4>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="service-item">
								<img src="assets/images/service-item-01.png" alt="">
								<h4>Robust</h4>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="service-item">
								<img src="assets/images/contact-info-03.png" alt="">
								<h4>Reliable</h4>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="service-item">
								<img src="assets/images/contact-info-03.png" alt="">
								<h4>Up-to-date</h4>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12">
				<div class="right-text-content">
					<p><a rel="nofollow noopener"  target="_parent">The monitor is a real-time device that is watching people, analyzing incidents or systems for changes, and raising red flags as soon as they happen. The system's prominent role is to send out alerts when certain events occur based on sensor measurements.<br><br>
						This gathers sensor data from various sensors, including temperature sensors, humidity sensors, pressure sensors, etc. When an alarm occurs, the user is notified via email, SMS, or phone calls. The user can choose which notification channels they want to receive notifications from.<br><br>
						The monitor shows the consumer the sensor readings for each sensor as well as the sensor's status. The sensor readings are displayed as graphs for each sensor, and the user can access the user interface to view past notifications for each sensor.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- FOOTER
================================================== -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-xs-12">
				<div class="left-text-content">
					<p>Copyright &copy; 2021 Software Architecture. 
					
					
				</div>
			</div>
			
		</div>
	</div>
</footer>

<!-- SCRIPTS
================================================== -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="contact/topvalidate.js"></script>
<script src="contact/bottomvalidate.js"></script>

</body>
</html>
